
body {
      .header-right {
      float: none;
    }

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 155, 0.9),
    rgba(255, 255, 155, 0.678)
  ), url("Images/JapBV.jpg");
  
  }

  h2 {
    margin-left: 200px;  
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
  } 

  h4 {
    margin-left: 200px;  
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
  } 

  p{
    margin-left: 500px;
    text-align: center;
  }

  li
  {
    margin-left: 200px;
    text-align: left;
  }

  img{
    border-radius: 10%;
    width: 400px;
    height: 300px;
  }
		.body { 
			padding: 0; 
			margin: 0; 
	} 

		.Parent { 
			display: flex; 
			flex-direction: row; 
		} 

		.child1 { 
			width: 30%; 
			height: 100vh; 
			text-align: right; 
			color: black; 
    } 

  		.child2 { 
			width: 60%; 
			color: black; 
			height: 100vh; 
      text-align: left;                     
		} 

    .site-header { 
      border-bottom: 4px solid #ccc;
      padding: .5em 1em;
      display: flex;
      justify-content: space-between;
      font-family: Helvetica;
    }
    
    .child2.site-identity h1 {
      font-size: 1.5em;
      font-family: Helvetica;
      margin: .6em 0;
      display: inline-block;
    }
    
   .site-navigation ul, 
  .site-navigation li {
      margin: 0; 
      padding: 0;
      font-family: Helvetica;
    }
    
    .site-navigation li {
      display: inline-block;
      margin: 1.4em 1em 1em 1em;
    } 

    .child3 { 
			width: 10%; 
			color: green; 
			height: 100vh; 
      text-align: right;
    }
